.lesson-background-image{
	width: 100%;
	z-index: -1;
}

.lesson-div{
	padding-bottom: 15%;
}

.lesson-teacher-pf{
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 100%;
	border-radius: 50%;
	border: 10px solid #e64c2e;
	width: 33.3%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -17.5%;
	opacity: .99;
}

.lesson-first-info{
	position: relative;
	width: 100%;
	overflow: hidden;
	opacity: .99;
	margin-top: -10%;
}

.lesson-duration{
	float:left;
	text-align: center;
	margin-left: 15%;
}

.lesson-costs{
	float:right;
	margin-right: 15%;
	text-align: center;
}

.lesson-value{
	font-size: 50pt;
	line-height: normal;
}

.lesson-second-info{
	margin-top: 3%;
}

.center-text-div{
	width: 100%;
	text-align: center;
	line-height: normal;
}

.lesson-teacher-name{
	font-size: 20pt;
}

.lesson-name{
	font-size: 50pt;
}

.lesson-description{
	width: auto;
	margin-top: 5%;
	margin-left: 15%;
	margin-right: 15%;
	font-size: 20pt;
}

.lesson-cat-prep{
	float:left;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 15pt;
	overflow: hidden;
	line-height: normal;
}

.lesson-cat{
	float:left;
}

.lesson-prep{
	float:right;
	margin-top: 3.5%;
}

.lesson-message{
	background-color: #e64c2e;
	width: 20%;
	height: 50px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}

.lesson-message-text{
	font-size: 20pt;
}

.lesson-cat img{
	width: 20%;
}

.lesson-book {
	background-color: #e64c2e;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	margin-top: 60px;
}

.lesson-facts {
	overflow: hidden;
}

.lesson-book-text {
	font-size: 20pt;
}

.lesson-bg-img-holder{
	height: 230px;
	background-color: #fbcf33;
}