@font-face {
    font-family: 'karlaregular';
    src: url('karla_font/karla-regular-webfont.eot');
    src: url('karla_font/karla-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('karla_font/karla-regular-webfont.woff2') format('woff2'),
         url('karla_font/karla-regular-webfont.woff') format('woff'),
         url('karla_font/karla-regular-webfont.ttf') format('truetype'),
         url('karla_font/karla-regular-webfont.svg#karlaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.bar.bar-header.bar-stable{
	background-color: #192644;
	border-color: #192644;
	color: #f9f9ed;
	font-family: 'karlaregular'
}

.bar.bar-header.bar-stable .back-button{
	color: #f9f9ed;
	font-family: 'karlaregular'
}

.bar.bar-header.bar-stable .title{
	color: #f9f9ed;
	font-family: 'karlaregular'
}

.view{
	color: #f9f9ed;
	font-family: 'karlaregular'
}

.train-text{
	color: #f9f9ed;
	font-family: 'karlaregular'
}

.content{
	background-color: #192644;
}